In [1]:
#Python packages
import numpy as np
import pandas as pd
pd.set_option('display.max_columns', 100)
pd.set_option('display.max_rows', 400)
import re
from scipy import stats

from meteocalc import Temp, dew_point, heat_index, wind_chill, feels_like
import pvlib

#Visualization packages
import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

#ML modeling packages
from sklearn.model_selection import KFold, cross_val_score, train_test_split
from sklearn.model_selection import TimeSeriesSplit
from sklearn.metrics import mean_squared_error, make_scorer
from sklearn.model_selection import GridSearchCV
from scipy.stats import skew
from sklearn.preprocessing import StandardScaler

import warnings
warnings.filterwarnings('ignore')

## Competition Overview

Significant investments are being made to improve building efficiencies to reduce costs and emissions. The question is, are the improvements working? That’s where you come in. Under pay-for-performance financing, the building owner makes payments based on the difference between their real energy consumption and what they would have used without any retrofits. The latter values have to come from a model. Current methods of estimation are fragmented and do not scale well. Some assume a specific meter type or don’t work with different building types.

In this competition, you’ll develop accurate models of metered building energy usage in the following areas: chilled water, electric, hot water, and steam meters. The data comes from over 1,000 buildings over a three-year timeframe. With better estimates of these energy-saving investments, large scale investors and financial institutions will be more inclined to invest in this area to enable progress in building efficiencies.

In [2]:
train = pd.read_csv('train_fe.csv')
# test = pd.read_csv('test_reduced.csv')

In [3]:
train.rename({"(True, 'hour_roc')":'hourly_roc'}, axis=1, inplace=True)

In [4]:
train.drop("(False, 'hour_roc')", axis=1, inplace=True)

In [5]:
train = train.iloc[:,1:]

In [6]:
train.head()

,building_id,meter,timestamp,meter_reading,site_id,primary_use,square_feet,year_built,floor_count,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,hour,day,weekday_name,weekday,month,day_of_year,air_temperature_f,wind_speed_mph,dew_temp_f,wind_chill,heat_index,feels,precip_cm,radiation,pressure_pas,airmass,altitude,solar_spec,hourly_roc
0,0,Electricity,2016-01-01 00:00:00,0.0,0,Education,7432,2008.0,NaN,25.0,6.0,20.0,NaN,1019.5,0.0,0.0,0,1,Friday,4,1,1,77.0,0.0,68.0,83.5955,77.596,77.0,NaN,1413.981805,101950.0,101950.0,-51.773303,NaN,1.784073
1,1,Electricity,2016-01-01 00:00:00,0.0,0,Education,2720,2004.0,NaN,25.0,6.0,20.0,NaN,1019.5,0.0,0.0,0,1,Friday,4,1,1,77.0,0.0,68.0,83.5955,77.596,77.0,NaN,1413.981805,101950.0,101950.0,-51.773303,NaN,1.233420
2,2,Electricity,2016-01-01 00:00:00,0.0,0,Education,5376,1991.0,NaN,25.0,6.0,20.0,NaN,1019.5,0.0,0.0,0,1,Friday,4,1,1,77.0,0.0,68.0,83.5955,77.596,77.0,NaN,1413.981805,101950.0,101950.0,-51.773303,NaN,0.940957
3,3,Electricity,2016-01-01 00:00:00,0.0,0,Education,23685,2002.0,NaN,25.0,6.0,20.0,NaN,1019.5,0.0,0.0,0,1,Friday,4,1,1,77.0,0.0,68.0,83.5955,77.596,77.0,NaN,1413.981805,101950.0,101950.0,-51.773303,NaN,0.715433
4,4,Electricity,2016-01-01 00:00:00,0.0,0,Education,116607,1975.0,NaN,25.0,6.0,20.0,NaN,1019.5,0.0,0.0,0,1,Friday,4,1,1,77.0,0.0,68.0,83.5955,77.596,77.0,NaN,1413.981805,101950.0,101950.0,-51.773303,NaN,0.836235

In [6]:
'''Variable Description'''
def description(df):
    summary = pd.DataFrame(df.dtypes,columns=['dtypes'])
    summary = summary.reset_index()
    summary['Name'] = summary['index']
    summary = summary[['Name','dtypes']]
    summary['Missing'] = df.isnull().sum().values    
    summary['Uniques'] = df.nunique().values
    summary['First Value'] = df.iloc[0].values
    summary['Second Value'] = df.iloc[1].values
    summary['Third Value'] = df.iloc[2].values
    return summary

In [7]:
description(train)

,Name,dtypes,Missing,Uniques,First Value,Second Value,Third Value
0,building_id,int64,0,1449,0,1,2
1,meter,object,0,4,Electricity,Electricity,Electricity
2,timestamp,object,0,8784,2016-01-01 00:00:00,2016-01-01 00:00:00,2016-01-01 00:00:00
3,meter_reading,float64,0,1745619,0,0,0
4,site_id,int64,0,16,0,0,0
5,primary_use,object,0,16,Education,Education,Education
6,square_feet,int64,0,1397,7432,2720,5376
7,year_built,float64,12127645,116,2008,2004,1991
8,floor_count,float64,16709167,18,NaN,NaN,NaN
9,air_temperature,float64,96658,619,25,25,25
10,cloud_coverage,float64,8825365,10,6,6,6
11,dew_temperature,float64,100140,522,20,20,20
12,precip_depth_1_hr,float64,3749023,128,NaN,NaN,NaN
13,sea_level_pressure,float64,1231669,133,1019.5,1019.5,1019.5
14,wind_direction,float64,1449048,43,0,0,0
15,wind_speed,float64,143676,58,0,0,0
16,hour,int64,0,24,0,0,0
17,day,int64,0,31,1,1,1
18,weekday_name,object,0,7,Friday,Friday,Friday
19,weekday,int64,0,7,4,4,4
20,month,int64,0,12,1,1,1
21,day_of_year,int64,0,256,1,1,1
22,air_temperature_f,float64,0,620,77,77,77
23,wind_speed_mph,float64,0,59,0,0,0
24,dew_temp_f,float64,0,523,68,68,68
25,wind_chill,float64,143676,9776,83.5955,83.5955,83.5955
26,heat_index,float64,0,20592,77.596,77.596,77.596
27,feels,float64,0,6710,77,77,77
28,precip_cm,float64,3749023,128,NaN,NaN,NaN
29,radiation,float64,0,256,1413.98,1413.98,1413.98
30,pressure_pas,float64,1231669,133,101950,101950,101950
31,airmass,float64,1231669,133,101950,101950,101950
32,altitude,float64,1231669,133,-51.7733,-51.7733,-51.7733
33,solar_spec,float64,3998705,125,NaN,NaN,NaN
34,hourly_roc,float64,20215716,384,1.78407,1.23342,0.940957

In [6]:
train['random'] = np.random.randint(low=0,high=100000000, size=len(train))

In [7]:
train['age'] = train['year_built'].max() - (train['year_built']+1)

In [8]:
roc_month = train.groupby(['site_id', 'month'])['air_temperature_f'].agg(np.mean).reset_index('month').reset_index()

roc_month['dif']=0.00
for i in range(len(roc_month)-1):
    roc_month['dif'][i] = abs((roc_month['air_temperature_f'][i+1])-(roc_month['air_temperature_f'][i]))

In [17]:
roc_month.reset_index()
roc_month.columns

Index(['site_id', 'month', 'air_temperature_f', 'dif'], dtype='object')

In [14]:
roc_month

     site_id  month  air_temperature_f        dif
0          0      1          61.890324   0.816600
1          0      2          61.073724   9.205219
2          0      3          70.278943   2.100308
3          0      4          72.379251   4.135752
4          0      5          76.515003   4.748615
5          0      6          81.263619   2.131696
6          0      7          83.395315   1.692164
7          0      8          81.703151   1.341237
8          0      9          80.361914   5.105583
9          0     10          75.256331   7.162367
10         0     11          68.093965   0.167448
11         0     12          67.926516  24.267176
12         1      1          43.659341  12.882070
13         1      2          56.541411   6.573803
14         1      3          49.967608   0.841670
15         1      4          49.125937   8.267127
16         1      5          57.393065   3.894473
17         1      6          61.287538   4.585837
18         1      7          65.873375   0.624642
19         1      8          66.498017   1.490962
20         1      9          65.007056  10.641944
21         1     10          54.365111   6.028945
22         1     11          48.336167   3.781394
23         1     12          44.554772  10.683820
24         2      1          55.238592  10.573345
25         2      2          65.811937   4.001953
26         2      3          69.813891   4.186212
27         2      4          74.000103   6.188265
28         2      5          80.188367  15.226172
29         2      6          95.414539   3.154479
30         2      7          98.569018   6.314238
31         2      8          92.254780   5.358808
32         2      9          86.895972   6.013976
33         2     10          80.881996  13.647137
34         2     11          67.234860   8.866788
35         2     12          58.368071  23.442687
36         3      1          34.925384   6.024475
37         3      2          40.949859  11.872556
38         3      3          52.822415   4.070392
39         3      4          56.892807   6.205833
40         3      5          63.098640  12.782708
41         3      6          75.881348  12.763841
42         3      7          88.645189   6.573462
43         3      8          82.071728   6.352041
44         3      9          75.719687  13.151101
45         3     10          62.568586  10.807369
46         3     11          51.761217   9.336960
47         3     12          42.424258  11.526712
48         4      1          53.950970   2.249219
49         4      2          56.200189   1.394607
50         4      3          57.594796   2.978682
51         4      4          60.573479   0.437529
52         4      5          61.011008   2.567158
53         4      6          63.578166   0.786314
54         4      7          62.791852   0.014143
55         4      8          62.805995   1.436053
56         4      9          64.242048   1.304649
57         4     10          62.937399   4.996631
58         4     11          57.940767   7.185844
59         4     12          50.754923   4.061106
60         5      1          46.693817  10.582907
61         5      2          57.276724   2.289896
62         5      3          54.986828   7.216272
63         5      4          47.770556   7.726219
64         5      5          55.496774   3.703226
65         5      6          59.200000   2.122581
66         5      7          61.322581   0.735484
67         5      8          62.058065   1.448047
68         5      9          63.506111  11.309337
69         5     10          52.196774   2.714552
70         5     11          49.482222   4.562867
71         5     12          44.919355   9.067887
72         6      1          35.851468   3.677920
73         6      2          39.529389  14.544711
74         6      3          54.074100   3.627454
75         6      4          57.701554   5.585698
76         6      5          63.287252  11.081093
77         6      6          74.368345   6.279130
78         6      7          80.647475   1.749617
79         6      8          78.897858   3.726020
80         6      9          75.171837  13.070563
81         6     10          62.101275   4.995745
82         6     11          57.105529  11.175287
83         6     12          45.930242  42.497862
84         7      1          88.428104  25.800077
85         7      2          62.628027   0.313565
86         7      3          62.941592  20.131676
87         7      4          42.809917  20.431427
88         7      5          63.241344   4.206211
89         7      6          67.447556   7.993514
90         7      7          75.441070   2.162408
91         7      8          73.278662   8.417051
92         7      9          64.861611  16.180159
93         7     10          48.681452   8.486437
94         7     11          57.167889  12.429018
95         7     12          44.738871  16.976625
96         8      1          61.715496   0.678198
97         8      2          61.037298   9.206493
98         8      3          70.243791   2.092222
99         8      4          72.336012   4.227284
100        8      5          76.563296   4.693946
101        8      6          81.257242   2.148803
102        8      7          83.406045   1.597461
103        8      8          81.808583   1.445819
104        8      9          80.362764   5.022652
105        8     10          75.340112   7.168175
106        8     11          68.171937   0.444879
107        8     12          67.727058  11.324889
108        9      1          56.402169   2.775893
109        9      2          59.178062   6.249001
110        9      3          65.427063   4.916004
111        9      4          70.343067   5.535840
112        9      5          75.878907   6.020393
113        9      6          81.899299   4.439665
114        9      7          86.338965   3.234176
115        9      8          83.104789   1.827691
116        9      9          81.277098   6.819950
117        9     10          74.457147   9.040714
118        9     11          65.416434   9.737093
119        9     12          55.679341  27.631052
120       10      1          28.048289   5.717206
121       10      2          33.765495  10.782941
122       10      3          44.548436   7.934969
123       10      4          52.483405   5.805952
124       10      5          58.289358  15.593039
125       10      6          73.882397   5.566144
126       10      7          79.448541   2.302481
127       10      8          77.146060  12.938331
128       10      9          64.207729  17.037721
129       10     10          81.245451  37.539352
130       10     11          43.706098  15.580403
131       10     12          28.125695  51.104821
132       11      1          79.230516  16.485746
133       11      2          62.744770   0.539097
134       11      3          63.283867  20.457715
135       11      4          42.826152  20.415192
136       11      5          63.241344   4.160494
137       11      6          67.401838   8.047450
138       11      7          75.449288   2.081493
139       11      8          73.367795   8.601214
140       11      9          64.766581  16.040686
141       11     10          48.725896   7.922161
142       11     11          56.648057  11.880921
143       11     12          44.767135   2.001221
144       12      1          42.765914   9.814717
145       12      2          52.580632   3.978775
146       12      3          56.559407  11.612098
147       12      4          44.947309   8.637211
148       12      5          53.584520   3.733343
149       12      6          57.317863   2.821403
150       12      7          60.139266   0.395336
151       12      8          59.743930   0.639151
152       12      9          59.104779   7.727495
153       12     10          51.377284   5.404308
154       12     11          45.972976   0.061437
155       12     12          46.034413  28.180867
156       13      1          17.853546   7.569503
157       13      2          25.423049  16.578944
158       13      3          42.001993   5.906908
159       13      4          47.908901  13.599745
160       13      5          61.508646   9.826894
161       13      6          71.335540   3.759298
162       13      7          75.094838   1.823887
163       13      8          73.270951   7.698119
164       13      9          65.572831  12.621265
165       13     10          52.951567   8.830044
166       13     11          44.121522  22.080516
167       13     12          22.041006  11.034357
168       14      1          33.075363   3.359052
169       14      2          36.434415  11.608221
170       14      3          48.042636   4.093932
171       14      4          52.136569   8.909603
172       14      5          61.046171  19.121249
173       14      6          80.167420   2.413776
174       14      7          77.753644   0.042496
175       14      8          77.711148   7.133603
176       14      9          70.577545  13.194502
177       14     10          57.383043   9.462454
178       14     11          47.920589  10.982738
179       14     12          36.937851  85.595310
180       15      1         122.533161  83.846633
181       15      2          38.686528  59.313140
182       15      3          97.999668  40.810371
183       15      4          57.189296  20.454703
184       15      5          77.643999  45.760162
185       15      6         123.404161  20.925990
186       15      7         102.478171  31.905041
187       15      8         134.383212  50.344114
188       15      9          84.039097  26.732030
189       15     10          57.307067   3.097922
190       15     11          60.404990  22.768727
191       15     12          37.636262   0.000000

In [18]:
for i in range(len(train['month'].unique())+1):
    train[(train['month'][i]==roc_month['month'][i]) & (train['site_id'][i]==roc_month['site_id'][i]), 'month_roc']=roc_month['dif']

TypeError: 'Series' objects are mutable, thus they cannot be hashed

In [19]:
train.head()

,building_id,meter,timestamp,meter_reading,site_id,primary_use,square_feet,year_built,floor_count,air_temperature,cloud_coverage,dew_temperature,precip_depth_1_hr,sea_level_pressure,wind_direction,wind_speed,hour,day,weekday_name,weekday,month,day_of_year,air_temperature_f,wind_speed_mph,dew_temp_f,wind_chill,heat_index,feels,precip_cm,radiation,pressure_pas,airmass,altitude,solar_spec,hourly_roc,random,age,"(True, month_roc)"
0,0,Electricity,2016-01-01 00:00:00,0.0,0,Education,7432,2008.0,NaN,25.0,6.0,20.0,NaN,1019.5,0.0,0.0,0,1,Friday,4,1,1,77.0,0.0,68.0,83.5955,77.596,77.0,NaN,1413.981805,101950.0,101950.0,-51.773303,NaN,1.784073,24802456,8.0,0.816600
1,1,Electricity,2016-01-01 00:00:00,0.0,0,Education,2720,2004.0,NaN,25.0,6.0,20.0,NaN,1019.5,0.0,0.0,0,1,Friday,4,1,1,77.0,0.0,68.0,83.5955,77.596,77.0,NaN,1413.981805,101950.0,101950.0,-51.773303,NaN,1.233420,61316517,12.0,9.205219
2,2,Electricity,2016-01-01 00:00:00,0.0,0,Education,5376,1991.0,NaN,25.0,6.0,20.0,NaN,1019.5,0.0,0.0,0,1,Friday,4,1,1,77.0,0.0,68.0,83.5955,77.596,77.0,NaN,1413.981805,101950.0,101950.0,-51.773303,NaN,0.940957,63831873,25.0,2.100308
3,3,Electricity,2016-01-01 00:00:00,0.0,0,Education,23685,2002.0,NaN,25.0,6.0,20.0,NaN,1019.5,0.0,0.0,0,1,Friday,4,1,1,77.0,0.0,68.0,83.5955,77.596,77.0,NaN,1413.981805,101950.0,101950.0,-51.773303,NaN,0.715433,56365151,14.0,4.135752
4,4,Electricity,2016-01-01 00:00:00,0.0,0,Education,116607,1975.0,NaN,25.0,6.0,20.0,NaN,1019.5,0.0,0.0,0,1,Friday,4,1,1,77.0,0.0,68.0,83.5955,77.596,77.0,NaN,1413.981805,101950.0,101950.0,-51.773303,NaN,0.836235,4040317,41.0,4.748615

In [20]:
train.rename({'(True, month_roc)':'month_roc'}, axis=1, inplace=True)

In [21]:
for col in train:
    if train[col].dtype==np.int64:
        train[col] = train[col].astype(np.int16)
    elif train[col].dtype==np.float64:
        train[col] = train[col].astype(np.float16)

In [ ]:
train.to_csv('train_to_encode.csv')

### modeling for feature selection

In [ ]:
from sklearn.pipeline import pipeline
from sklearn import StandardScaler

num_pipeline = Pipeline([
	('imputer', SimpleImputer(strategy='median')),
	('attribs_adder', CombinedAttribAdder()),
	('std_scalar', StandardScaler()),
	])

housing_num = num_pipeline.fit_transform(housing_num)

from sklearn import ColumnTransformer

full_pipeline = ColumnTransformer([
	('num',num_pipeline,num_attribs),
	('cat',OneHotEncoder,cat_attribs),
	])

housing_prepared = full_pipeline.fit_transform(housing)